extends ../shared/template

block content
  h1= title

  form(action='/login', method='post')
    input(type='email', name='email', autofocus=true, placeholder='you@email.com')
    input(type='password', name='password', placeholder='Your Password')

    button Authenticate
