extends ../shared/template

block content
  h1= title

  #greeting
    span Your e-mail address is #{user.email}.
    span Your total is: $
      span#total 0.00
    span Your meal's calories are:
      span#calories

  div
    button#add Add Row

  form#order(action='/orders', method='POST')
    button#placeorder Order Food
    div.menu-item
      input.qty(type='number', name='qty', min='0', step='1', pattern='\d+')
      select.menu(name='menu')
        option Select a Menu
        each menu in menus
          option #{menu}
      select.items(name='dish')
        option Select a Dish
      input.totalcost(type='hidden', name='totalcost')
      input.totalcalories(type='hidden', name='totalcalories')
      a.nuke(href='#') x



block scripts
  script(src='/js/es6/compiled/orders.js')
